*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.btn-primary {
  padding: 1rem;
  outline: none;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

.btn-secondary {
  padding: 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
  border: none;
  background-color: #fcca6d;
  border-radius: 0.2rem;
}

.game-board {
  display: flex;
  gap: 2rem;
}
